/venv
.env
**/__pycache__
test.py
test.pdf
/db*
/old*
/llama_db
/bnhp_all_data
/complex_db
/dataload
/feiss_db
/flagged
/mashkanta
/testdata
.langchain.db
bot_chatgpt copy.py
conversational_old.py
simple.pdf
llama_db.old_mashkanta/