accelerate
aiofiles
aiohttp
aiosignal
altair
anyio
async-timeout
attrs
Automat
autopep8
backoff
blinker
cachetools
certifi
cffi
charset-normalizer
chromadb
click
clickhouse-connect
cmake
constantly
contourpy
cryptography
cssselect
cycler
dataclasses-json
decorator
diffusers
duckdb
entrypoints
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
gptcache
gradio
gradio_client
greenlet
h11
hnswlib
html2text
httpcore
httptools
httpx
huggingface-hub
hyperlink
idna
importlib-metadata
importlib-resources
incremental
itemadapter
itemloaders
Jinja2
jmespath
joblib
jsonschema
kiwisolver
langchain==0.0.201
linkify-it-py
lit
lxml
lz4
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
mdit-py-plugins
mdurl
monotonic
mpmath
multidict
mypy-extensions
networkx
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai
openapi-schema-pydantic
orjson
packaging
pandas
parsel
Pillow
posthog
Protego
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pydeck
PyDispatcher
pydub
Pygments
Pympler
pyOpenSSL
pyparsing
PyPDF2
pyrsistent
python-dateutil
python-dotenv
python-multipart
pytz
pytz-deprecation-shim
PyYAML
queuelib
regex
requests
requests-file
rich
scikit-learn
scipy
semantic-version
sentence-transformers
sentencepiece
service-identity
six
smmap
sniffio
SQLAlchemy
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tldextract
tokenizers
toml
tomli
toolz
torch
torchvision
tornado
tqdm
transformers
triton
Twisted
typing-inspect
typing_extensions
tzdata
tzlocal
uc-micro-py
urllib3
uvicorn
uvloop
validators
w3lib
watchdog
watchfiles
websockets
yarl
zipp
zope.interface
zstandard
yfinance
watermark  
gptcache 
tiktoken
ipywidgets
pinecone-client
plotly
gptcache
streamlit
docx2txt
gradio
llama_index
langchain
langchain-experimental==0.0.10